[submodule "Carthage/Checkouts/AFNetworking"]
	path = ios/o-holy-night/Carthage/Checkouts/AFNetworking
	url = https://github.com/AFNetworking/AFNetworking.git
[submodule "Carthage/Checkouts/spark-sdk-ios"]
	path = ios/o-holy-night/Carthage/Checkouts/spark-sdk-ios
	url = https://github.com/spark/spark-sdk-ios.git
